.leftNav {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 35%;
  padding: 2em 0;
}

.main-logo-link {
  position: absolute;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: 0 0;
  text-decoration: none;
}

.main-description {
  display: flex;
  align-items: flex-end;
}
