.leftNav {
  display: flex;
  width: 25%;
  padding: 1.5em;
}

.main-logo-link {
  position: absolute;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: 0 0;
  text-decoration: none;
}

.main-logo-title {
  font-size: 2.2rem;
  margin: 0;
}

.main-description {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: flex-end;
  margin: 0;
}
