.rightDiv {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 230px);
  margin-top: 2em;
  margin-right: 2em;
  margin-left: calc(230px + 2em);
}

/* test */
@media only screen and (max-width: 575px) {
  .rightDiv {
    width: calc(100% - 72px);
    margin-top: 1em;
    margin-right: 1em;
    margin-left: calc(72px + 1em);
  }
}
